<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Records</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-2">
      <a class="navbar-brand" href="#">Student Records</a>
    </nav>
    <div class="container-fluid">
      <div class="alert alert-danger fade show" role="alert" id="course-form-error">
        Please enter valid course details.
        <span class="custom-message"></span>
        <button type="button" class="close" data-hide="alert">&times;</button>
      </div>
      <div class="alert alert-danger  fade show" role="alert" id="student-form-error">
        Please enter valid student details.
        <span class="custom-message"></span>
        <button type="button" class="close" data-hide="alert">&times;</button>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
            <a class="nav-link active" id="students_list-tab" data-toggle="pill" href="#students_list" role="tab">Students List</a>
            <a class="nav-link" id="add_students-tab" data-toggle="pill" href="#add_students" role="tab">Add New Students</a>
            <a class="nav-link" id="courses_list-tab" data-toggle="pill" href="#courses_list" role="tab">Courses List</a>
            <a class="nav-link" id="add_courses-tab" data-toggle="pill" href="#add_courses" role="tab">Add New Courses</a>
            <a class="nav-link" id="results_list-tab" data-toggle="pill" href="#results_list" role="tab">Results List</a>
            <a class="nav-link" id="add_results-tab" data-toggle="pill" href="#add_results" role="tab">Add New Results</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="students_list" role="tabpanel">
              <table class="table table-striped" id="student_list-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody></tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="add_students" role="tabpanel">
              <form>
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="Enter First Name" />
                </div>

                <div class="form-group">
                  <label for="family_name">Family Name</label>
                  <input type="text" class="form-control" name="family_name" placeholder="Enter Family Name" />
                </div>

                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" />
                </div>

                <div class="form-group">
                  <label for="date_of_birth">Date of Birth</label>
                  <input type="date" class="form-control" name="date_of_birth" placeholder="Enter Date of Birth in YYYY-MM-DD fromat" />
                </div>

                <button type="submit" class="btn btn-primary" onclick="add_student(event)">Submit</button>
              </form>
            </div>
            <!-- LIST COURSES -->
            <div class="tab-pane fade" id="courses_list" role="tabpanel">
              <table class="table table-striped" id="courses_list-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- ADD COURSES -->
            <div class="tab-pane fade" id="add_courses" role="tabpanel">
              <form>
                <div class="form-group">
                  <label for="course_name">Course Name</label>
                  <input type="text" class="form-control" name="course_name" placeholder="Enter Course Name" />
                </div>

                <button type="submit" class="btn btn-primary" onclick="add_course(event)">Submit</button>
              </form>
            </div>
            <!-- LIST RESULTS -->
            <div class="tab-pane fade" id="results_list" role="tabpanel">
              <table class="table table-striped" id="results_list-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- ADD RESULTS -->
            <div class="tab-pane fade" id="add_results" role="tabpanel">
              <form>
                <div class="form-group">
                  <label for="student_id">Select Student</label>
                  <select class="form-control" name="student_id"></select>
                </div>
                <div class="form-group">
                  <label for="course_id">Select Course</label>
                  <select class="form-control" name="course_id"></select>
                </div>

                <div class="form-group">
                  <label for="grade">Select Grade</label>
                  <select class="form-control" name="grade">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary" onclick="add_result(event)">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>
  </body>
</html>
